html {
    font-family: 'Didact Gothic', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-weight: bold;
    background: linear-gradient(#ED0A3F, #1CAC78, #0066FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 10px;
    font-size: xx-large;
}

nav {
    width: 15%;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    border-right: 3px solid #1c1c1c;
}

#bar {
    list-style-type: none;
}

#bars {
    border: 1px solid #1c1c1c;
    padding: 10px;
    margin: 5px 0;
}

#bars a {
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#bars a:hover {
    background-color: #ED0A3F;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    padding: 15px;
}

.container {
    margin-top: 3%;
    margin-left: 18%;
    margin-right: 3%;
}

table {
    width: 100%;
    min-width: 600px;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #1c1c1c;
    width: 33.3%;
}

th {
    background-color: #f4f4f4;
}

.top {
    font-weight: bold;
    background: linear-gradient(#ED0A3F, #1CAC78, #0066FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    padding: 10px;
}

@media (max-width: 475px) {
    body {
        flex-direction: column; /* Change to column layout */
    }

    nav {
        width: 100%; /* Make the nav take full width */
        height: auto; /* Let the nav take up as much space as needed */
        padding: 10px; /* Adjust padding as needed */
    }

    .container {
        padding-top: 60px; /* Add some space for the navbar */
    }
}
