html    {
    font-family: 'Didact Gothic', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav {
    width: 12%;
    background-color: #f4f4f4; 
    position: sticky; 
    top: 0; 
    height: 100vh; 
    border: 1px solid #1c1c1c;
}

#bar  {
    list-style-type: none;
}

#bars{
    border: 1px solid #1c1c1c; 
    padding: 10px;
}

.content {
    margin-left: 220px; 
    padding: 15px;
    flex: 1; 
}

h1      { 
    font-size: 2em;
}

.top    {
    font-style: bold;
    background: linear-gradient(#ED0A3F, #1CAC78, #0066FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    margin-left: 15%;
    grid-template: 25%;
    justify-items: stretch;
}

body {
    margin-top: -100vh;
}